<div class="card mx-auto" style="width: 80%;">
  <div class="card-body">
    <h5 class="card-title">Masīva apgriešana</h5>
    <p class="card-text">Ģenerē gadījuma skaitļu masīvu ar doto izmēru un tad to apgriež</p>
    <div class="card-text">
            <table class="table">
                <thead>
                    <tr>
                        <th>Ievads</th>
                        <th>Izpildlaiks</th>
                        <th>Rezultāts</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input [(ngModel)]="input">
                        </td>
                            <td>{{ elapsed }}</td>
                            <td>{{ result }}</td>
                        <td>
                            <button type="button" class="btn btn-primary" (click)=(Calculate())>Calculate</button>
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
  </div>
</div>