﻿@page "/todo"
@using BlazorApp.Pages.Todo

<div class="card mx-auto" style="width: 40%;">
    <div class="card-body">
@*        <!-- : (@todos.Where(todo => !todo.IsDone).Count())</h5> -->*@
        <h5 class="card-title">Darāmie darbi</h5>
    </div>
    <div class="card-text">
        <ul class="list-group">
            @foreach (var todo in todos)
            {
                @if(todo.IsDone)
                {
                    <li class="list-group-item list-group-item-success">
                        <input type="checkbox" bind="@todo.IsDone" />
                        <input bind="@todo.Title" />
                    </li>
                }
                else
                {
                    <li class="list-group-item">
                        <input type="checkbox" bind="@todo.IsDone" />
                        <input bind="@todo.Title" />
                    </li>
                }
            }
        </ul>

        <input placeholder="Jauna darbība" bind="@input" />
        <button onclick="@AddTodo">Pievienot todo</button>
        <br><br>
    </div>
</div>

@functions {
    string input;
    IList<TodoItem> todos = new List<TodoItem>();

    protected override void OnInit()
    {
        todos.Add(new TodoItem{Title = "piemērs"});
    }

    void AddTodo()
    {
        todos.Add(new TodoItem{Title = input});
        input = string.Empty;
    }
}