@using BlazorApp.Shared.Benchmark
@using System.Diagnostics

<div class="card mx-auto" style="width: 80%;">
    <div class="card-body">
        <h5 class="card-title">@title</h5>
        <p class="card-text">@description</p>
        <div class="card-text">
            @if (isBenchmarkValid)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>@inputText</th>
                        <th>Izpildlaiks</th>
                        <th>Rezultāts</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="text" bind="@input" />
                        </td>
                        @if (!string.IsNullOrEmpty(elapsedTime))
                        {
                        <td>@elapsedTime ms</td>
                        <td>@output</td>
                        }
                        else
                        {
                        <td></td>
                        <td></td>
                        }
                        <td>
                            <button type="button" class="btn btn-primary" onclick="@Calculate">Izpildīt</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        }
        else
        {
            <p>Provided benchmark is not valid. Check the console output.</p>
        }
        </div>
    </div>
</div>

@functions {
    string title = string.Empty;
    string description = string.Empty;
    string inputText = string.Empty;
    string input;
    bool isBenchmarkValid = true;
    string elapsedTime = string.Empty;
    string output = string.Empty;

    //Benchmarks
    Fibonacci fibonacci;
    QuickSort quickSort;

    protected override void OnInit()
    {
        switch(Type)
        {
            case BenchmarkType.Fibonacci:
                fibonacci = new Fibonacci();
                title = fibonacci.Title;
                description = fibonacci.Description;
                inputText = fibonacci.InputText;
                break;
            case BenchmarkType.QuickSort:
                quickSort = new QuickSort();
                title = quickSort.Title;
                description = quickSort.Description;
                inputText = quickSort.InputText;
                break;
            default:
                isBenchmarkValid = false;
                Console.WriteLine($"Type {Type?.ToString() ?? string.Empty} is not a valid type.");
                break;
        }
    }
    
    //Async thread does not work in browser for Task.Run()...
    async Task CalculateAsync()
    {
        switch (Type)
        {
            case BenchmarkType.Fibonacci:
                if (int.TryParse(input, out var number))
                {
                    Stopwatch sw = new Stopwatch();
                    sw.Start();
                    Console.WriteLine("starting Task.Run()");
                    var task = await Task.Run(() => fibonacci.GetNth(number));
                    sw.Stop();

                    Console.WriteLine("Elapsed time: {0}", sw.Elapsed.TotalMilliseconds);
                    //output = task.ToString();
                    output = "Done";
                    elapsedTime = string.Format("{0}", sw.Elapsed.TotalMilliseconds);
                }
                break;
            case BenchmarkType.QuickSort:
                if (int.TryParse(input, out var number1))
                {
                    var array = BenchmarkHelper.GetRandomArray(number1);

                    Stopwatch sw = new Stopwatch();
                    sw.Start();
                    await Task.Run(() => quickSort.Sort(array, 0, array.Length - 1));
                    sw.Stop();

                    var end = DateTime.Now;
                    Console.WriteLine("Elapsed time: {0}", sw.Elapsed.TotalMilliseconds);
                    elapsedTime = string.Format("{0}", sw.Elapsed.TotalMilliseconds);
                }
                break;
            default:
                break;
        }

        StateHasChanged();
    }

    void Calculate()
    {
        switch (Type)
        {
            case BenchmarkType.Fibonacci:
                if (long.TryParse(input, out var number))
                {
                    Console.WriteLine($"Starting fibonacci calculation for {number}");
                    Stopwatch sw = new Stopwatch();

                    if (number < 70)
                    {
                        sw.Start();
                        //var task = fibonacci.GetNth(number);
                        var task = fibonacci.GetNthIterative(number);
                        sw.Stop();

                        Console.WriteLine("Elapsed time: {0}", sw.Elapsed.TotalMilliseconds);
                        output = task.ToString();
                    }
                    else if (number < 140)
                    {
                        sw.Start();
                        var task = fibonacci.GetNthDecimal(number);
                        sw.Stop();

                        Console.WriteLine("Elapsed time: {0}", sw.Elapsed.TotalMilliseconds);
                        output = task.ToString();
                    }
                    else 
                    {
                        sw.Start();
                        var task = fibonacci.GetNthBig(number);
                        sw.Stop();

                        Console.WriteLine("Elapsed time: {0}", sw.Elapsed.TotalMilliseconds);
                        output = task;
                    }

                    //output = "Done";
                    elapsedTime = string.Format("{0}", sw.Elapsed.TotalMilliseconds);
                }
                //else 
                //{
                //    var alert = "Input is a whole number!";
                //    RegisteredFunction.Invoke<bool>("showAlert", alert);
                //}
                break;
            case BenchmarkType.QuickSort:
                if (int.TryParse(input, out var number1))
                {
                    var array = BenchmarkHelper.GetRandomArray(number1);

                    Stopwatch sw = new Stopwatch();
                    sw.Start();
                    quickSort.Sort(array, 0, array.Length - 1);
                    sw.Stop();

                    var end = DateTime.Now;
                    Console.WriteLine("Elapsed time: {0}", sw.Elapsed.TotalMilliseconds);
                    elapsedTime = string.Format("{0}", sw.Elapsed.TotalMilliseconds);
                    output = "Done";
                }
                //else 
                //{
                //    var alert = "Input is a whole number!";
                //    RegisteredFunction.Invoke<bool>("showAlert", alert);
                //}
                break;
            default:
                break;
        }
    }

    public BenchmarkType? Type { get; set; }
}