<h1>{{title}}</h1>

Pirmā lapa lietotnē.
Navigācijas iespējas:
<div class="row justify-content-center">
    <div class="col-4">
        <ul class="list-group">
            <li class="list-group-item"><em>/todo</em> - Vienkārša TODO lietotne</li>
            <li class="list-group-item"><em>/fetchdata</em> - Vienkāršs HTTP vaicājums</li>
            <li class="list-group-item"><em>/examples</em> - Aprēķinu piemēri</li>
        </ul>
    </div>
</div>