@using BlazorApp.Shared.PrimeNumber

<div class="card mx-auto" style="width: 80%;">
    <div class="card-body">
        <h5 class="card-title">Primsskaitļa pārbaude</h5>
        <p class="card-text">Pārbaudīt, vai dotais skaitlis ir pirmsskaitlis.</p>
        <div class="card-text">
            <table class="table">
                <thead>
                    <tr>
                        <th>Skaitlis</th>
                        <th>Izpildlaiks</th>
                        <th>Rezultāts</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="text" bind="@number" />
                        </td>
                        @if (!string.IsNullOrEmpty(elapsedTime))
                    {
                        <td>@elapsedTime ms</td>
                        <td>@result</td>
                    }
                    else
                    {
                        <td></td>
                        <td></td>
                    }
                        <td>
                            <button type="button" class="btn btn-primary" onclick="@IsPrime">Izpildīt</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@functions {
    string elapsedTime = string.Empty;
    string result = string.Empty;
    string number = string.Empty;

    void IsPrime()
    {
        if (long.TryParse(number, out var num)){
            var startTime = DateTime.Now;
            var test = PrimeNumberCode.IsPrime(num);
            var elapsed = DateTime.Now - startTime;
            elapsedTime = elapsed.ToString("ff");
            result = test ? "jā" : "nē";
        }
    }
}