﻿@using BlazorApp.Shared.Benchmark
@page "/examples"

<div class="jumbotron">
    <h1 class="display-4">Piemēri dažādiem algoritmiem</h1>
</div>

<Benchmark Type=BenchmarkType.Fibonacci />

<Benchmark Type=BenchmarkType.QuickSort />

<ArrayReverse />

<PrimeNumber />

<Factorial />

