/* You can add global styles to this file, and also import other style files */
html, body {
    min-height: 100% !important;
    height: 100%;
}

body {
    padding-top: 54px;
}
@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

/* Bootstrap enhancments */
.card {
    margin-top: 40px;
}