<div class="card mx-auto" style="width: 40%;">
    <div class="card-body">
         <!--This does not work and throws an error-->
        <!-- <h5 class="card-title">Darāmie darbi: {{todos.filter(t => t.IsDone).length}}</h5>  -->
        <!-- : {{todoCount}}</h5> -->
        <h5 class="card-title">Darāmie darbi</h5>
    </div>
    <div class="card-text">
        <ul class="list-group">
            <div *ngFor="let todo of todos">
                <div *ngIf="todo.IsDone;else notDone">
                    <li class="list-group-item list-group-item-success">
                        <input type="checkbox" [(ngModel)]="todo.IsDone">
                        <input [(ngModel)]="todo.Title">
                    </li>
                </div>
                
                <ng-template #notDone>
                    <li class="list-group-item">
                        <input type="checkbox" [(ngModel)]="todo.IsDone">
                        <input [(ngModel)]="todo.Title">
                    </li>
                </ng-template>
            </div>
        </ul>

        <input [(ngModel)]="input">
        <button (click)="AddTodo()">Pievienot todo</button>
        <br><br>
    </div>
</div>