@using BlazorApp.Shared.ArrayReverse

<div class="card mx-auto" style="width: 80%;">
  <div class="card-body">
    <h5 class="card-title">Masīva apgriešana</h5>
    <p class="card-text">Masīvs tiek ģenerēts ar gadījuma skaitļiem lietotāja norādītajā izmērā.</p>
    <div class="card-text">
        <table class="table">
            <thead>
                <tr>
                    <th>Masīva izmērs</th>
                    <th>Izpildlaiks</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="text" bind="@arraySize" />
                    </td>
                    @if (!string.IsNullOrEmpty(elapsedTime))
                    {
                        <td>@elapsedTime ms</td>
                    }
                    else
                    {
                        <td></td>
                    }
                        <td>
                            <button type="button" class="btn btn-primary" onclick="@ReverseArray">Izpildīt</button>
                        </td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
</div>

@functions {
    string arraySize = string.Empty;
    string elapsedTime = string.Empty;

    void ReverseArray()
    {
        if (int.TryParse(arraySize, out var size))
        {
            var elapsed = ArrayReverseCode.ReverseRandomArray(size);
            elapsedTime = elapsed.ToString("ff");
            return;
        }

        Console.WriteLine($"Could not parse string: {arraySize}");
    }
}