<div class="jumbotron">
    <h1 class="display-4">Piemēri dažādiem algoritmiem</h1>
</div>

<app-fibonacci></app-fibonacci>

<app-array-reverse></app-array-reverse>

<app-factorial></app-factorial>

<app-prime-number></app-prime-number>

<app-quicksort></app-quicksort>