<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<div *ngIf="forecasts == null; else loggedOut">
    <p><em>Loading...</em></p>
</div>

<ng-template #loggedOut>
    <table class='table'>
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody *ngFor="let forecast of forecasts">
            <tr>
                <td>{{ forecast.Date }}</td>
                <td>{{ forecast.TemperatureC }}</td>
                <td>{{ forecast.TemperatureF }}</td>
                <td>{{ forecast.Summary }}</td>
            </tr>
        </tbody>
    </table>
</ng-template>