﻿@implements ILayoutComponent

<NavMenu />
<div class='container-fluid'>
    <div class='row'>
        <div class="col-lg-12 text-center">
            @Body
        </div>
    </div>
</div>

@functions {
    public RenderFragment Body { get; set; }
}
