﻿<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Blazor app</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/todo">Todo</NavLink>
                </li>
                <!-- <li class="nav-item">
                    <NavLink class="nav-link" href="/counter">Counter</NavLink>
                </li> -->
                <li class="nav-item">
                    <NavLink class="nav-link" href="/fetchdata">Fetch Data</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/examples">Examples</NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>